.postListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 114px;
  background-color: #7d9fff;
  gap: 32px;
}
.postListTitle {
  margin-bottom: 92px;
  font-size: 36px;
  font-weight: 700;
}

.btnPage {
  padding: 10px 28px;
  margin-top: 28px;
  font-size: 16px;
  font-weight: 700;
  background-color: #3f5cc0cc;
  color: #090808cc;
  border: navy;
  border-radius: 15px;
  align-self: flex-end;
}
