.postListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 114px;
  background-color: #7d9fff;
  gap: 32px;
}
.postListTitle {
  margin-bottom: 124px;
  font-size: 36px;
  font-weight: 700;
}
