.containerPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3f5cc0cc;
  gap: 25px;
  padding: 16px;
  border-radius: 15px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
.divider {
  height: 25px;
  border: 1px solid #00000033;
}
.postTitle {
  font-size: 32px;
  font-weight: 700;
  color: #090808cc;
}
.postText {
  font-weight: 700;
  color: #090808cc;
}
.postButton {
  padding: 10px 9px;
  background-color: #0d3d3066;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.postId {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 39px;
}
