.containerPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
